.contacts-search-bar{

    width: 30em;
    
}

.contact-item{

    height: 11em;
    width: 70em;
    border-radius: 1em;

}

.contact-title{}

.profile-icon{

    width: 5em;
    height: 5em;
    border-radius: 1em;

}

.status-icon{
    width: 1em;
    height: 1em;
    background-color: green;
}
