.message-board{

   background-color: #263B66;
   width: 300px; 
}

/***********/
.message-search-container{

    background-color: #394969;
    width: 300px;

}
.message-search-box{

    margin: 1em;

}
/***********/


/***********/
.message-box{

    background-color: #EDEDED;
    /* width: 990px; */

}

.message-box-item{

    background: gray;
    padding: 10em;
}

.message-box-title{
    background: gray;

}
/***********/
.message-chat-attach-color{

    color: red;

}

.message-chat-header{

    

}

.message-chat-box{}

.message-chat-box div{
 

}

.message-box-input{
    border: none !important;
    
}


.message-profile{
    background-color: #FFFFFF;
    width: 250px;
}

.row div{
    
}

.message-div-container{

    display: flex;

}

.msg-receiver-header div{

    
    

}

.mssg-portrait{

    width: 150px;
    height: 250px;
    border-radius: 25px;

}


