.message-board{

   background-color: #263B66;
   width: 300px; 
}

/***********/
.message-search-container{

    background-color: #394969;
    width: 400px;

}
.message-search-box{

    margin: 1em;

}

.message-search-bar{


  

}

.message-item-box{

   

}

.user-item-bar{

    background-color: darkgray;

}

.user-item-bar div{

}

.message-board-modal{
    background-color: gray;
}

.message-item-box div{

    padding: 1em !important;

}

.message-chat-icon{

    width: 3em;
    height: 3em;

}

.message-chat-div{

    background-color: #3966C1;

}

.mssg-inbox-data-item{
    margin-right: 1em;
}
.mssg-hdr-icons div{

    padding-right: 1em;
}

.src-portrait{

    width: 60px;
    height: 60px;

}

.result-item:hover{

    background-color: #1C2537;

}
.result-item-container{

    color: white;

}

.result-item-text p{
    margin: 0 !important;
}

.result-item-text{

    margin-top: 1.5em;

}
/***********/


/***********/
.message-box{

    background-color: #EDEDED;
    /* width: 990px; */

}

.message-box-item{

    color: white;
    padding: 10em;
    margin-left: 2em;
}

.message-box-item:hover{

    background-color: #1C2537;

}

.message-box-title{

    color: white;

}
/***********/
.message-chat-attach-color{

    color: red;

}

.message-chat-header{

    

}

.message-chat-box{}

.message-chat-box div{
 

}

.message-box-input{
    border: none !important;
    
}


.message-profile{
    background-color: #FFFFFF;
    width: 280px;
}

.row div{
    
}

.message-div-container{

    display: flex;

}

.msg-receiver-header div{

    
    

}

.mssg-portrait{

    width: 150px;
    height: 250px;
    border-radius: 25px;

}

.message_input_form{
    width: 500px;
    background-color: black;
}



