.setting-container{

    width: 15em;
    height: 630px;
    border-radius: 40px;
}

.setting-container div{

    padding: .5em;
    font-size: 1.2em;
}

.setting-container div:hover{

    font-weight: bold;
    color: #3966C1;

}

.acc-portrait{

    width: 150px;
    height: 150px;
    background-color: gray;
}

.setting-nav{

    
}

.acc-edit-button{

    width: 2em;
    height: 2em;
    
    
}

