.nav-icon{ 

    width: 30px;
    height: 30px;
    background-color: white;
    
}

.nav-icon-container{

    
    padding: 1em;
    width: 100%;
}

.nav-icon-container:hover{

    background-color: #263B66;

}

.nav-icon-active li{

    background-color: #263B66;

}

.side-nav-column{

    width: 4em;
    background-color: #3966C1;

}

