
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{ font-family: 'Montserrat', sans-serif; }
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fill-window {
  height: 100%;
  position: absolute;
}

.fill-width{

    width: 100%;

}

.fill-height{

  height: 100%;
  
}
.filler-xs div{height: 40px;}
.filler-s div{height: 100px;}
.filler-m div{height: 140px;}
.filler-l div{height: 210px;}

input[type="text"], input[type="email"]
{
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  width: 100%;
  color: #707070;
}


input:focus{outline: none; background-color: #e3e3e3;}

button
{

  border: none;
  background: #3966C1;
  color: white;
  width: 170px;

}

.main-font-color{
  color: #707070;
}

ul{
  list-style-type: none;
  text-decoration: none;
}

.no-padding {
  padding: 0 !important;
 
}

.search-bar-uni{

  height: 3em;
  border-radius: 2em;
  border: none;
  color: white;

}

